<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images and Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="/static/image/logo1.PNG" alt="LOGO" class="LOGO">
    <div class="container">
        <h1>Upload Images and Videos</h1>
        <div class="words">
            <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required><br><br>

                <label for="files">Select files:</label>
                <input type="file" id="files" name="files" multiple required><br><br>

                <button type="submit">Upload</button>
            </form>
        </div>
        <br>
        <br>

        <!-- Progress Bar -->
        <div class="progress-bar-container">
            <div id="progressBar" class="progress-bar"></div>
        </div>
        <p id="progressText">0%</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
